img {
    max-width: 100%;
    max-height: 100%;
}

.Park{
    margin: 0 auto;
    width: 90%;
}

.Park-header{
    padding:  0 0 10px 10px;
    margin:  0 0 2px 0;
    height: 50px;
    background-color: #fff;
    display: block;
    /*justify-content: safe left;*/
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
}

.Park-header-actions{
    /*margin-top: 15px;*/
    display: flex;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 11pt;
}

.Park-header-actions-info{
    padding: 15px 10px 0px 10px;
}

.Park-header-actions a{
    padding: 15px 15px;
    color: #ccc;
    border-left: 1px solid #ccc;
    text-decoration: none;
}

.Park-header-actions a:hover{
    color: #fff;
    background-color: #999;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.Park-header-actions img{
    padding: 15px 10px;
}

.Park-center{
    position: relative;
}

.Park-teaser{
    position: absolute;
    left: 3%;
    top: 70%;
    z-index: 3;
    justify-content: safe left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.Park-teaser h1{
    margin:  0;
}

.Park-footer{
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    background-color: #310053;
    color: #fff;
}